{% extends "chatapp/toppage-base.html" %}

{% block style %}
    <style>
        .submit-btn {
            background-color: var(--red);
            color:white;

        }
        .submit-btn:hover {
            color: white
        }
        h3.title {
            font-weight: bold
        }

        label {
            font-weight: bold
        }

    </style>

{% endblock %}

{% block title %}
    パスワードリセット
{% endblock %}

{% block content %}
<form method="POST">
    {% for message in messages %}
    <div class="row">
        <div class="col-12">
            {% if message.tags == 'success' %} 
            <div class="alert alert-success" role="alert">
            {% elif message.tags == 'error' %}
            <div class="alert alert-danger" role="alert">
            {% endif %}
            <div class="row">
                <div class="col-1">
                {% if message.tags == 'success' %}
                    <i class="fa fa-check"></i> 
                {% elif message.tags == 'error' %}
                    <i class="fas fa-exclamation"></i>
                {% endif %}
                </div>
                <div class="col-10">
                    {{ message }}
                </div>
            </div>
            </div>      
        </div>
    </div> 
    {% endfor %}

    {{ form.non_field_errors }}
        
    <div class="form-group">
        <label for="id_email">メールアドレス</label>
        <input type="text" id="id_email" name="email" required class="form-control">
    　　{{ form.email.errors }}
    </div>
    
    {% csrf_token %}
    <button type="submit" class="btn btn-block submit-btn">再設定用リンク送信</button>
</div>
     
</form>
{% endblock %}