{% extends "chatapp/base.html" %}

{% block style %}
    <style>

        h3.title {
            font-weight: bold
        }
        .card {
            margin-top: 1rem;
        }
        .my-card-body {
            padding: 2rem 3rem;
        }
        label {
            font-weight: bold
        }

    </style>

{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3 col-12">
        <div class="card">
            <div class="card-body my-card-body">
                <h3 class="text-center title">パスワード更新</h2>
                <hr>
                {% for message in messages %}
                {% if message.tags == 'success' %} 
                    <div class="row">
                        <div class="col-12">
                            <div class="alert alert-success" role="alert">
                            <div class="row">
                                <div class="col-1">
                                <i class="fa fa-check"></i> 
                                </div>
                                <div class="col-10">
                                    {{ message }}
                                </div>
                            </div>
                            </div>      
                        </div>
                    </div> 
                    {% endif %}
                {% endfor %}

                {{ form.non_field_errors }}
                    
                <div class="form-group">
                   <label for="id_old_password">古いパスワード</label>
                   <input type="password" id="id_old_password" name="old_password" required class="form-control" placeholder="8文字以上">
                　　{{ form.old_password.errors }}
                </div>
                <div class="form-group">
                    <label for="id_old_password1">新しいパスワード</label>
                    <input type="password" id="id_new_password1" name="new_password1" required class="form-control" placeholder="8文字以上">
                    {{ form.new_password1.errors }}
                </div>
                <div class="form-group">
                    <label for="id_new_password2">新しいパスワード(確認)</label>
                    <input type="password" id="id_new_password2" name="new_password2" required class="form-control" placeholder="8文字以上">
                    {{ form.new_password2.errors }}
                </div>
                
                {% csrf_token %}
                <button type="submit" class="btn btn-block submit-btn">送信</button>
               </div>
        </div>
    </div> 
</div>
     
</form>
{% endblock %}