{% extends "chatapp/base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/top.css' %}">
    <div class="mesgs">     
        <div class="msg_history">
        {% for message in messages %}
        {% if message.speaker == user %}
        <div class="outgoing_msg">
            <div class="sent_msg">
                <p>{{ message.message }}</p>
                <span class="time_date">{{ message.sent_at }}</span>
            </div>
        </div>
        {% else %}
        <div class="incoming_msg">
            <div class="incoming_msg_img">
                <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil">
            </div>
            <div class="received_msg">
                <div class="received_withd_msg">
                    <p>{{ message.message }}</p>
                    <span class="time_date">{{ message.sent_at }}</span>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        </div>
    </div>


    <!-- <textarea id="chat-log" cols="100" rows="20"></textarea><br/> -->
    <input id="chat-message-input" type="text" size="100"/><br/>
    <input id="chat-message-submit" type="button" value="Send"/>

{% endblock %}
{% block extra_js %}
<script>
    var history_url = "{% url 'chatapp:history' room_pk %}";
    var user_pk = '{{ user.pk }}';

    function call_history_api(room_pk) {
        return $.ajax({
            url: history_url,
            type: 'GET',
            dataType: 'json',
            async: true,
            data: {
                room_pk : room_pk
            }
        });
    }

    function create_outgoing_message_dom(sent_at, message) {

        var $outer = $('<div>', { class: 'outgoing_msg' });
        var $inner = $('<div>', { class: 'sent_msg' });
        var $message = $('<p>', { text: message });
        var $sent_at = $('<span>', { class : 'time_date', text: sent_at });
        return $outer.append($inner.append($message).append($sent_at));
    }
    
    function create_incomming_message_dom(speaker_name, thumbnail_url, sent_at, message) {

        var $outer = $('<div>', { class: 'incoming_msg' });
        var $img_wrapper = $('<div>', { class: 'incoming_msg_img' });
        var $img = $('<img>', { src: thumbnail_url, alt: '' });
        
        var $msg_outer = $('<div>', { class: 'received_msg' });
        var $msg_inner = $('<div>', { class: 'received_withd_msg' });
        var $message = $('<p>', { text: message });
        var $sent_at = $('<span>', { class : 'time_date', text: sent_at });

        return $outer.append($img_wrapper.append($img)).append($msg_outer.append($msg_inner.append($message).append($sent_at)));
    }

    $(function() {
        var $messageInputDom = $('#chat-message-input');
        var $historyDiv = $('.msg_history');

        var $chat_log =  $('#chat-log');

         // Correctly decide between ws:// and wss://
        var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
        var ws_path = ws_scheme + '://' + window.location.host + "/chat/";
        console.log("Connecting to " + ws_path);
        var chatSocket = new WebSocket(ws_path);


        chatSocket.onmessage = function(e) {
            var data = JSON.parse(e.data);
            console.log(data)
            var message = data.message;
            var speaker_pk = data.speaker.pk;
            var speaker_name = data.speaker.name;
            var sent_at = data.sent_at;

            if (user_pk == speaker_pk) {
                var $msg = create_outgoing_message_dom(sent_at, message);
            } else {
                var $msg = create_incomming_message_dom(speaker_name, '', sent_at, message);
            }
            
            $historyDiv.append($msg);

            $chat_log.append(message + '\n');
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        $('#chat-message-input').focus();

        $('#chat-message-input').on('keyup', function(e) {
            if (e.keyCode === 13) {  // enter, return
                $('#chat-message-submit').click();
            }
        });

        $('#chat-message-submit').on('click', function(e) {
            
            var message = $messageInputDom.val();
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            $messageInputDom.val('');
        });

        var room_pk = 1;
        call_history_api(room_pk)
        .done(function(data) {
            console.log(data);
            data.forEach(obj => {
                $chat_log.append(obj.message + '\n');
            });
            alert('success');
        })
        .fail(function() {
            alert('hello');
        });
    });
  
</script>
{% endblock %}
