{% extends 'chatapp/toppage-base.html' %}
{% load static %}
{% block style %}
    <style>
      h2 {
          margin-top: 3rem;
          margin-bottom: 1rem
      }
      .to-mypage {
          background-color: red;
          color: white;
          margin: 3rem 0
      }
      .to-mypage:hover {
          color: white
      }
      .my-text {
          font-size: 0.8rem;
          font-weight: bold
      }
       
    </style>
{% endblock %}
{% block content %}
   <h2 class="text-center">ようこそ！</h2>
   <div class="my-text text-center">おぷきた連絡ナビで快適なコミュニケーションを</div>
   <a href="{% url 'chatapp:login' %}" class="btn btn-block to-mypage">マイページへすすむ</a>
{% endblock %}