

.container{
  width: 100%; 
}
img{ max-width:100%;}

.inbox_msg {
  border: 1px solid #c4c4c4;
  clear: both;
  overflow: hidden;
}

.room_group_name {
  background: red;
  text-align: center;
  height: 20px
}
.room_group_name p {
  color:white;
  vertical-align: middle;
  font-weight: normal;
  margin: none
}


.chat_ib p{ font-size:12px; color:#989898; margin:none}
.chat_ib button {
  font-size: 10px
}

.chat_people{ overflow:hidden; clear:both;}
.chat_list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
}
.inbox_chat { min-height: 600px; overflow-y: scroll;}

.active_chat{ background:#ebebeb;}

.row .outgoing_msg,
.row .incoming_msg_img {
  margin-bottom: 2rem
}

.outgoing_msg{
  overflow:hidden; 
  margin:26px 0 26px;
}

.sent_msg {
  display: inline-block;
  width: 92%;
}

.outgoing_msg_img {
  vertical-align: top;
  padding: 5px;
}

.sent_msg_speaker_name {
  text-align: right;
  display:block;
  color: #747474;
  font-size: 12px ;
}

.incomming_msg_speaker_name {
  text-align: left;
  display:block;
  color: #747474;
  font-size: 12px ;
}


 .sent_msg p {
  background:  #f9ccac none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0;
  color:black;
  padding: 5px 10px 5px 12px;
  width:100%;
}

.incoming_msg_img {
  padding:5px
}
.received_withd_msg p {
  background: #cfe0e8 none repeat scroll 0 0;
  border-radius: 3px;
  color: black;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}
.outgoing_time_date {
  color: #747474;
  text-align: right;
  display: block;
  font-size: 12px;
  margin: 3px 0 0;
}

.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 3px 0 0;
}

.received_withd_msg {
  width: 100%;
}



.mesgs {
  padding: 10px;
  width: 100%;
  min-height: 500px
}



.attachment_file {
  font-size: 12px;
}

.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

.type_msg {
  border-top: 1px solid #c4c4c4;
  position: relative;
}
.type_msg .input-group {
  margin-top: 5px
}

.messaging { padding: 0 0 10px 0;}
.msg_history {
  min-height: 400px;
  max-height: 400px;  
  overflow-y: scroll;
}

.message_btn {
  color:white;
  background: lightgray;
  border-radius: 0;}
.file_attach_btn {
  color:white;
  background: orange;
  border-radius: 0;
}

#preview_zone {
  height: 50px;
  background: white;
  padding: 3px;
  overflow: scroll; 
}
#preview_zone .prev_col {
  padding-left: 20px
}
#preview_zone .prev_col i {
  padding-right: 5px;
  padding-left:5px;
}


.mySidebar {
  overflow: scroll
}

#preview_zone .prev_col .attachment_name {
  font-size: 14px;
  color: gray
}


.sidebar {
  overflow: scroll;
  height: calc(100% - 50px); /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 50px;
  left: 0;
  background-color:#e0e2e4; /* red*/
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 14px;
  cursor: pointer;
  background-color:red;
  color: white;
  padding: 0.5rem;
  margin:0.5rem;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
  padding-top: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

i.white-icon {
  color: white;
}

.has_new_message {
  color:red!important;
  margin: 3px
}
