.row {
    margin-top:1rem;
}
.alert-success {
    padding:0!important;
    vertical-align: middle!important;
}
.alert-success .row {
    font-size: 14px;
    padding: none;
    margin: 10px;
}

select#id_birthday_year {
    width: 30%!important;
}
select#id_birthday_month {
    width: 15%;
}

select#id_birthday_day{
    width: 15%;
}
.vertical-align {
    display: flex;
    align-items: center;
}
.preview {
    text-align: center;
    border: 1px dotted teal;
    min-height: 100px;
    margin: 5px;
    border-radius: 3%
}

.preview img {
    min-width: 100px;
    min-height: 100px;
    max-height: 100px;
    max-width: 100px;
    margin: 2px;
}

.preview span {
    margin:5px
}
input#id_thumbnail {
    display: none;
}


