{% extends "chatapp/toppage-base.html" %}

{% block title %}
パスワード再設定完了
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-12">
        <div class="alert alert-success" role="alert">
            <div class="row">
                <div class="col-1">
                <i class="fa fa-check"></i> 
                </div>
                <div class="col-10">
                    パスワードの再設定が完了しました
                </div>
            </div>
        </div>
    </div>
</div> 
<a href="{% url 'chatapp:login' %}" class="btn btn-block submit-btn">ログイン</a>
{% endblock %}