
{% extends 'chatapp/toppage-base.html' %}
{% load static %}
{% block style %}
    <style>
        .alert-success {
            padding:0!important;
            vertical-align: middle!important;
        }
        .alert-success .row {
            font-size: 14px;
            padding: none;
            margin: 10px;
        }
        label {
            font-weight: bold
        }
        select#id_birthday_year {
            width: 30%;
            display: inline-block!important
        }
        select#id_birthday_month {
            width: 21%;
            display: inline-block!important
        }
        
        select#id_birthday_day {
            width: 21%;
            display: inline-block!important
        }
        .vertical-align {
            display: flex;
            align-items: center;
        }
        .preview {
            text-align: center;
            border: 1px solid lightgray;
            min-height: 100px;
            /* margin: 5px; */
            border-radius: 3%
        }
        
        .preview img {
            height: 100px;
            width: auto;
            margin: 5px;
        }
        
        .select-img-button{
            margin:5px;
            padding: 3px;
            font-size:10px;
        }
        input#id_thumbnail {
            display: none;
        }
        .login-btn {
           background-color: #1f8ecf;
            color:white;
            padding: 3px;
            font-size: 10px;
            margin-left: 10px;
        }
        .create-account-btn {
            background-color: #db362e;
            color:white
        }
    
        p {
            font-size: 14px;
        }
        span.badge {
            margin-left: 5px;
        }

    
    </style>
{% endblock %}

{% block title %}
    ユーザ情報入力
{% endblock %}

{% block content %}
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.non_field_errors }}
        {% for message in messages %}
            <div class="row">
                <div class="col-12">
                    {% if message.tags == 'success' %} 
                    <div class="alert alert-success" role="alert">
                    {% elif message.tags == 'error' %}
                    <div class="alert alert-danger" role="alert"></div>
                    {% endif %}
                        <div class="row">
                            <div class="col-1">
                            {% if message.tags == 'success' %} 
                                <i class="fa fa-check"></i> 
                            {% elif message.tags == 'errors' %}
                            <i class="fas fa-exclamation"></i>
                            {% endif %}
                            </div>
                            <div class="col-10">
                                {{ message }}
                            </div>
                        </div>
                    </div>      
                </div>
            </div> 
        {% endfor %}
        
        {% csrf_token %}

        
        <div class="form-group">
            <label for="id_name" class="control-label">名前</label><span class="badge badge-danger">必須</span>
            {{ form.name }}
        </div> <!-- form-group// -->
        {{ form.name.errors }}

        <div class="form-group">
            <label for="id_name" class="control-label">名前(カナ)</label><span class="badge badge-danger">必須</span>
            {{ form.furigana }}        
        </div> <!-- form-group// -->
        {{ form.furigana.errors }}



       
        <div class="form-group">
            <label for="id_email" class="control-label">生年月日</label><span class="badge badge-danger">必須</span><br>
            <select class="form-control" id="id_birthday_year" name="birthday_year"></select>
            年
            <select class="form-control" id="id_birthday_month" name="birthday_month"></select>
            月
            <select class="form-control" id="id_birthday_day" name="birthday_day"></select>
            日
        </div> <!-- form-group// -->
        {{ form.birthday.errors }}

        <div class="form-group">
            <label for="id_email" class="control-label">メールアドレス</label><span class="badge badge-danger">必須</span>
            {{ form.email }}
        </div> <!-- form-group// -->
        {{ form.email.errors }}
        
        <label for="id_thumbnail">アイコン画像</label><span class="badge badge-danger">必須</span><br>
        {{ form.thumbnail }}
        <!-- form-group// -->
        {{ form.thumbnail.errors }}
        <div class="container preview">
            <img class="rounded-circle preview-img" src="" alt=""/><br>
            <button type="button" class="btn btn-primary select-img-button">画像選択</button>
        </div>
        
        <div class="form-group">
            <label for="id_clinic_name">医院名</label><span class="badge badge-danger">必須</span>
            {{ form.clinic_name }}            
        </div> <!-- form-group// -->
        {{ form.clinic_name.errors }}

        <div class="form-group">
            <label for="id_address">医院住所</label><span class="badge badge-danger">必須</span>
            {{ form.address }}    
        </div> <!-- form-group// -->
        {{ form.address.errors }}
        
        <div class="form-group">
            <label for="id_phone">連絡先電話番号</label><span class="badge badge-danger">必須</span>
            {{ form.phone }}        
        </div> <!-- form-group// -->
        {{ form.phone.errors }}

        <div class="form-group">
            <label for="id_phone">受領通知</label><span class="badge badge-danger">必須</span>
            {{ form.alert_freq }}        
        </div> <!-- form-group// -->
        {{ form.alert_freq.errors }}
        

        <div class="form-group">
            <label for="id_password1">パスワード</label><span class="badge badge-danger">必須</span>
            {{ form.password1 }}  
        </div> <!-- form-group// -->
        {{ form.password1.errors }}
        <div class="form-group">
            <label for="id_password2">パスワード(確認)</label><span class="badge badge-danger">必須</span>
            {{ form.password2 }}
        </div> <!-- form-group// -->                                      
        <div class="form-group">
            <button type="submit" class="btn btn-block create-account-btn">アカウント作成</button>
        </div> <!-- form-group// -->   
        {{ form.password2.errors }}   
        <p class="text-center"><span>アカウントをお持ちですか?</span><a class="btn login-btn" href="{% url 'chatapp:login' %}">ログイン</a></p>                                                                 
    </form>
{% endblock %}
{% block script %}
    <script>
        //画像ファイルプレビュー表示のイベント追加 fileを選択時に発火するイベントを登録
        function init_birthday_year() {
            var $dom = $('#id_birthday_year');
            for (let i = 1920; i < 2020; i++) {
                $('<option>', { value: i, text: i }).appendTo($dom)
            }
        }
        function init_birthday_month() {
            var $dom = $('#id_birthday_month');
            for (let i = 1; i < 13; i++) {
                $('<option>', { value: i, text: i }).appendTo($dom)
            }
        }
        function init_birthday_day() {
            var $dom = $('#id_birthday_day');
            for (let i = 1; i < 32; i++) {
                $('<option>', { value: i, text: i }).appendTo($dom)
            }
        }
        
        $(function() {
            var $file_input = $('#id_thumbnail');
            var $choose_file = $('.preview button');
            var $preview_img = $('.preview img');
            

            $choose_file.on('click', function() {
                $file_input.click();
            });

            

            $file_input.on('change', function(e) {
                var file = e.target.files[0],
                    reader = new FileReader(),
                    $preview = $(".preview");
                    t = this;

                // 画像ファイル以外の場合は何もしない
                if(file.type.indexOf("image") < 0){
                return false;
                }

                // ファイル読み込みが完了した際のイベント登録
                reader.onload = (function(file) {
                return function(e) {
                    //既存のプレビューを削除
                    
                    // .prevewの領域の中にロードした画像を表示するimageタグを追加
                    $preview_img.attr('src', e.target.result);
                };
                })(file);

                reader.readAsDataURL(file);
            });
            init_birthday_year();
            init_birthday_month();
            init_birthday_day();
            $('#id_name').focus();
        });
    
    </script>
{% endblock %}